
  page-login {

    .app {
      background-color: map-get($colors, primary);
      .para {
        margin-top: 50px;
      }
    }
      .browser {
        background-color: map-get($colors, secondary);
        border-radius: 10px;
        overflow-y: hidden;
      }

      .inputs {
        background-color: map-get($colors, primary);
        color: #fff;
      }
      .labels {
        background-color: map-get($colors, primary);
        color: #fff;
      }
      .items {
        background-color: map-get($colors, primary);
        color: #fff;
      }
    .btn{
      color: map-get($colors , primary );

    }
    }


