
  page-login {

    .app {
      background-color: map-get($colors, dark);
  
    }
     .logo {
        text-align: center;
        margin-top: 50px;
      }
    .login-text{
        text-align: center;
        color:#fff;
      }
      .welcome{
        text-align:center;
        color: #fff;
      }
      .browser {
        background-color: map-get($colors, primary);
        border-radius: 10px;
        overflow-y: hidden;
      }

      .inputs {
        background-color: map-get($colors, primary);
        color: #fff;
      }
      .labels {
        background-color: map-get($colors, primary);
        color: #fff;
      }
      .items {
        background-color: map-get($colors, primary);
        color: #fff;
      }
    .btn{
      color: map-get($colors , primary );

    }
    }


