publicheader {
    .header{
        background-color: map-get($colors, primary);
    }
    .logo{
        color:#fff;
    }

    
    .btn-login{
        float: right;
        color:#fff;
        cursor: pointer;    
    }


}
