<!--
  Generated template for the Publicheader component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.

  this is a "header" at the top of the public page. may show a logo quick links to sign in , signup etcon the far right
  Idealy the logo should sho
-->
<header>
  <div align="left" class="logo">
    <h1 style="color: #fff;">WEVOTE</h1>
     
  </div>
 
   <div align="right" class="btn-container">
   <h3 class="btn-login" (click)="presentLoginModal()">Login</h3>
  </div>
  
</header>
 

  
