<!--
  Generated template for the Publicheader component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.

  this is a "header" at the top of the public page. may show a logo quick links to sign in , signup etcon the far right
  Idealy the logo should sho
-->
<ion-grid class="header">
  <ion-row>
    <ion-col col-10 col-sm>
      <h1 class="logo">WEVOTE</h1>
    </ion-col>
    <ion-col col-2 col-sm>
      <h1 class="btn-login" (click)="presentLoginModal()">Login</h1>
    </ion-col>
  </ion-row>
</ion-grid>




