publicheader {

    header{
        width: 100%;
        background-color: map-get($colors,primary );
        padding: 8px;
        height: 70px;
        margin: 0px;
        border-bottom: 2px solid #fff;
    }
    .logo{
        float: left;
        padding-top: 0px;
        width: 900px;
        margin: 0px;
    }

    
    .btn-login{
        float: right;
        color:#fff;
        cursor: pointer;    
    }


}
