page-mobile-login {
    .ion-content{
        background-color: map-get($colors , primary );
        .para{
            margin-top: 50px;
        }
    }
    .items{
        background-color: map-get($colors , primary );
        color: #fff;
    }
     .labels{
        background-color: map-get($colors , primary );
        color: #fff;
    }
    .inputs{
        background-color: map-get($colors , primary );
        color: #fff;
    }
    .btn{
        color: map-get($colors , primary );
           
        }
}
